@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<h2>este es mi controlador de alumnos</h2>
@Html.ActionLink("Nuevo Alumno","Create")
<br />
<a href="/Alumno/Create">Nuevo Alumno</a>
<br />
<a asp-controller="Escuela" asp-a   ction="Index">Ir a Escuela</a>