@model Modelos.Escuela

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Escuela</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Crear">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Clave" class="control-label"></label>
                        <input asp-for="Clave" class="form-control" required />
                        <span asp-validation-for="Clave" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" required />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Anioregistro" class="control-label"></label>
                        <input asp-for="Anioregistro" class="form-control" required />
                        <span asp-validation-for="Anioregistro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion.CodigoPostal" class="control-label"></label>
                        <input asp-for="Direccion.CodigoPostal" class="form-control" required />
                        <span asp-validation-for="Direccion.CodigoPostal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion.Calle" class="control-label"></label>
                        <input asp-for="Direccion.Calle" class="form-control" required />
                        <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion.NoExt" class="control-label"></label>
                        <input asp-for="Direccion.NoExt" class="form-control" required />
                        <span asp-validation-for="Direccion.NoExt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Direccion.NoInt" class="control-label"></label>
                        <input asp-for="Direccion.NoInt" class="form-control" />
                        <span asp-validation-for="Direccion.NoInt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NivelEducativo.Id" class="control-label"></label>
                        <select asp-for="NivelEducativo.Id" class="form-control" required>
                            <option value="">Selecciona el nivel educativo</option>
                            <option value="1">PRIMARIA</option>
                            <option value="2">SECUNDARIA</option>
                            <option value="3">BACHILLERATO</option>
                            <option value="4">UNIVERSIDAD</option>
                        </select>
                        <span asp-validation-for="NivelEducativo.Id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Colonia</label>
                        <Select asp-for="Direccion.Colonia.Id" class="form-control">
                            <option value="">Selecciona una colonia valida</option>
                        </Select>
                        <span asp-validation-for="Direccion.Colonia.Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Municipio</label>
                        <input class="form-control" disabled id="municipio" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <input class="form-control" disabled id="estado" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Contacto.Email" class="control-label"></label>
                        <input asp-for="Contacto.Email" class="form-control" />
                        <span asp-validation-for="Contacto.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contacto.Telefono" class="control-label"></label>
                        <input asp-for="Contacto.Telefono" class="form-control" />
                        <span asp-validation-for="Contacto.Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Usuario.Contrasena" class="control-label"></label>
                        <input type="password" asp-for="Usuario.Contrasena" class="form-control" />
                        <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {

            var ColoniasTemp = [];                        
            $("#Direccion_CodigoPostal").change(function () {
                $.ajax({
                    url: "/Escuela/ObtenerColonias/",
                    data: "CodigoPostal=" + $(this).val(),
                    method: "GET",
                    success: function (respuesta) {
                        if (respuesta.error) {
                            alert(respuesta.message);
                        }
                        else {
                            ColoniasTemp = respuesta.result;
                            $("#Direccion_Colonia_Id").html("<option value=''>Selecciona una colonia valida</option>");
                            $.each(respuesta.result, function (i, o) {
                                $("#Direccion_Colonia_Id").append("<option value='" + o.colonia.id + "'>" + o.colonia.descripcion + "</option>");
                            });
                        }
                    },
                    error: function (e) {
                        alert("Ocurrio un error:" + e);
                    }
                })
            })            
            $("#Direccion_Colonia_Id").change(function () {
                if ($(this).val() != "") {
                    var searchIndex = ColoniasTemp.find(x => x.colonia.id == $(this).val());
                    $("#municipio").val(searchIndex.municipio.descripcion);
                    $("#estado").val(searchIndex.estado.descripcion);
                }
            });

            if ($("#Direccion_CodigoPostal").val() != "") {
                alert($("#Direccion_Colonia_Id").val());
                $("#Direccion_CodigoPostal").change();
            }
        });
    </script>
}
